:root {
  --main-color: #2f303a;
  --accent-color: #2196f3;
  --headers-color: #212121;
  --simple-text-color: #757575;
  --cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}

.container {
  width: 1600px;
}

h1,h2,h3,h4,p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

li {
  list-style-type: none;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;

  color: #757575;
}

.contact-link:hover,
.contact-link:focus,
.footer-address:hover,
.footer-address:focus {
  color: #2196f3;
}

.link {
  text-decoration: none;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: #2196f3;
}

.logo-link-black {
  color: black;
}

.nav-link {
  color: #212121;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.current.nav-link,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--main-color);
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
  display: inline-block;
  width: 696px;
  }

.hero-button {
  font-weight: 700;
  color: white;
  background-color: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
}

.footer-address {
  font-family: 'Roboto';
  line-height: calc(24 / 14);
  font-style: normal;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-color {
  background-color: var(--main-color);
}

.portfolio-button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background-color: #f5f4fa;
  cursor: var(--cursor);
  border: 0px solid;
  border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);

  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: #ffffff;
}

.hidden {
  display: none;
}

.studio-h3-header {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  color: var(--headers-color);
}

.simple-text {
  color: var(--simple-text-color);
  text-align: center;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-color);
}

.simple-text-team {
  color: var(--simple-text-color);
  text-align: center;
 }

.studio-h2-header {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-color);
}

.portfolio-h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);

  letter-spacing: 0.06em;
  color: var(--headers-color);
}

.simple-portfolio-text {
  color: var(--simple-text-color);
}
